<ion-view class="wrapper-spacing">
    <div class="heading-wrapper">
        <h1 class = "eEricssonFont heading-content"> Work Desk</h1>
        <h1 class = "eEricssonFont heading-content"> of the future</h1>
    </div>
    
    <div class="text-wrapper">
        <p>For the first time in human history more people live in cities than in rural areas. By 2050 it is expected that 7 out of 10 people will be urbanites, with the majority of growth occurring in cities of the Global South. A new report co-written with UN Habitat shows how technology can enable economically, socially and environmentally sustainable cities, with emphasis on solving the challenge of access to water.

        Thorsten Sauer, Head of Broadcast and Media Services, Ericsson, says: "We have spent a great deal of time working with distributors to source the very best and most relevant international and local content for our new SVOD service, Nuvu. 
        </p>
    </div>

     <div class="feedback-wrapper">
        <p ng-click="openFeedbackModal()">Feedback ?</p>
    </div>
            

    <div class="video-wrapper">
        <img class="video-position" src="img/play_video.png" ng-click="openModalVideo(0);uv.startVideoTimer()">
        <!--<button ng-click="vm.displayVideo()"><img src="/img/play-button.png"></button>-->
    </div> 
    <div class="triangle-bottomright">
        <img class="background-img" src="img/Logo.png" />
    </div>
            
    <ion-slides on-touch="uv.startImageTimer()" class="img-wrapper" options="uv.data.sliderOptions" slider="uv.data.sliderDelegate">
        <ion-slide-page ng-repeat="img in uv.data.imgArray track by $index">
            <img class="img-content" ng-click="uv.goToSlide($index)" ng-src={{img}} >
        </ion-slide-page>
    </ion-slides>
</ion-view>