 <ion-modal-view>
    <div class="modal image-modal transparent" >
        <div class="button-position">
        <img src="img/close_icon.png" height="40px" width="40px" ng-click="uv.closeModalVideo()">
        </div>
    <ion-slide-box on-slide-changed="slideChanged(index);uv.stopVideo();uv.stopVideoTimer();uv.initializeListener(index)" show-pager = "true" pager-click="uv.slide(index)">
        <ion-slide ng-repeat="video in uv.videoPath track by $index">
        <div class="modal-div">
        <video ng-attr-id="{{'my-video'+$index}}" class="video-js videocontent" controls preload="auto"
                data-setup="{}">
                    <source ng-src="{{video}}" type='video/mp4'>
        </video>
        </div>
        </ion-slide>
    </ion-slide-box>
    </div>
</ion-modal-view>