
/* Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {



.heading-wrapper {
    padding-top: 20px;
    padding-left: 30px;
}

.heading-content {
    font-size: 65px;
    color: #00285F; 
}

.text-wrapper {
    width: 550px;
    padding-top: 20px;
    padding-left: 30px;
    text-align: justify;
    position: relative;

}

.img-wrapper {
    width: 550px;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
    height: 150px;
}

.img-content{
    width: 170px !important;
    height: 80px !important;
    border-radius: 10px !important;
    opacity: 0.9 !important;
    padding-left: 10px;
    padding-right: 10px
}

.transparent {
  background: transparent !important;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

.slider {
  width: 100%;
 height: 100%;
}

.video-wrapper{
    float: right;
    position: relative;
    width: 314px;
    height: 412px;
    top: -220px;
    left: -100px;
}

.text-content {
    font-size: 14px;
}

.video-js {
    width: 100%;
    height: 360px;
}

.modal {
  /* width: 900px;
   height: 560px;
   top:130px;
   left:60px;*/
  width:100% !important;
  height: 100% !important;
  top:0px;
  left: 0px;
  border-radius: 10px;
  background: transparent !important;
}

.modal-div{

/*    top: 120px;*/
    top:50px;
    position: relative;
    padding-left: 55px;
    padding-right: 55px;
}

.modal-partition{
    
    width: 50%; 
    float:left;

}
.img-description{
    padding:20px;

}
.video-position{
   /* left: 660px;
    top: 160px;
    position: fixed;*/
    left: 600px;
    top: 80px;
    position: fixed;
    height: 350px;
}

.triangle-bottomright {
   position: absolute;
    width: 0;
    height: 0;
    border-bottom: 600px solid #193066;
    border-left: 700px solid transparent;
        bottom: 0px;
    left: 325px;
    z-index: -1;
}

.background-img{
    position: absolute !important;
    margin-top: 500px;
    z-index: 3;
    margin-left: -250px;
}

.slider-pager 
{
 color: #fff;
 top:420px !important;

}


.slider-pager-page.active
{
color: #f90;
}


.button-position{
    /*left: 960px;
    position: relative;
    top: 60px;
    z-index: 20 !important;*/
    left: 880px;
    position: relative;
    top: 20px;
    z-index: 20 !important;
}


.slider-pager .slider-pager-page {
color:#fff;

}

.active .modal-backdrop-bg {
    opacity: .8;
  }

.modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }


.row.noPadding{
  padding:0 !important;
}

.col.noPadding{
  padding:0 !important;
}

.modal-imageContent{

    height: 345px;
    width: 460px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.modal-textContent{    
    width: 50%;
    float: right;
    background-color: white;
    height: 345px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.feedback-wrapper {
    float: right;
    position: fixed;
    top: 50px;
    left: 730px;
    font-size: 18px;
    color: #193066;
}

.feedback-modal{
  width: 70%;
  background-color: white;
  height: 500px;
  align-content: center;
  left: 16%;
  position: relative;
  z-index: 50;
  top: -30px;
}

.form-div{
        position: relative;
        left: 90px;
        top: 40px;
    }


    input[type="text"]{

        height: 45px;
        border-style: solid;
        border-width: 1px;
        width: 450px;
        border-color: grey;
        border-radius: 5px;
        padding: 5px;
    }

    .form-spacing{
        padding-top: 10px;
        padding-bottom: 30px;
    }


    .label-text{
    font-size: 16px;
    }


    input[type="email"]{

        height: 45px;
        border-style: solid;
        border-width: 1px;
        width: 450px;
        border-color: grey;
        border-radius: 5px;
        padding: 5px;
    }

    .comment-wrapper{
        height: 100px;
        border-style: solid;
        border-width: 1px;
        width: 450px;
        border-color: grey;
        border-radius: 5px;
        padding: 5px;
    }

    input[type="text"]{

        height: 45px;
        border-style: solid;
        border-width: 1px;
        width: 450px;
        border-color: grey;
        border-radius: 5px;
        padding: 5px;
    }

    .form-spacing{
        padding-top: 10px;
        padding-bottom: 30px;
    }


    .label-text{
    font-size: 16px;
    }


    input[type="email"]{

        height: 45px;
        border-style: solid;
        border-width: 1px;
        width: 450px;
        border-color: grey;
        border-radius: 5px;
        padding: 5px;
    }

    .comment-wrapper{
        height: 100px;
        border-style: solid;
        border-width: 1px;
        width: 450px;
        border-color: grey;
        border-radius: 5px;
        padding: 5px;
    }

    /*.button-style{
        color: white;
        background-color: #002661;
        font-size: 18px;
        width: 450px;
        height: 45px;
        border: none;
        border-radius: 4px;
        left: 90px;
        position: relative;
        top: 35px;
    }*/

    input[type="submit"]{
          color: white;
        background-color: #002661;
        font-size: 18px;
        width: 450px;
        height: 45px;
        border: none;
        border-radius: 4px;
        left: 90px;
        position: relative;
        top: 35px;
    }



}


